
/* CSS general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS de encabezado */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Ajusta el padding según sea necesario */
    padding-bottom: 0; /* Elimina el padding inferior */
}

.horizontal-divider {
    position: static;
    width: 100%; /* Asegura que la línea divisoria se extienda a todo el ancho de la ventana */
    height: 1px;
    background-color: #3d3d3d6b; /* Ajusta el color según sea necesario */
    margin: 0; /* Elimina el margen para asegurar que la línea toque los bordes */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 30px;
    padding-top: 10px;
    margin-right: 10px; /* Ajusta este valor según tu preferencia */
}

.user-name {
    padding-top: 10px; /* Asegúrate de que el padding sea uniforme */
    font-family: 'Work Sans', sans-serif;
}

/* Estilos de la barra lateral izquierda */

.sidebar {
    position: static;
    left: 0;
    top: 70px; /* Ajusta esto para que coincida con la altura del header */
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: calc(30% - 50px); /* Ajusta para cubrir el resto de la altura */
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    padding: 10px 0;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px; /* Ajusta el padding según sea necesario */
    transition: background-color 0.3s ease, padding 0.2s ease; /* Transición suave para el cambio de color de fondo y tamaño */
    border-radius: 8px; /* Borde redondeado por defecto */
}

.sidebar nav ul li:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
    padding: 8px 15px; /* Ajusta el tamaño del padding al pasar el mouse */
}

.sidebar nav ul li:active {
    background-color: #ccc; /* Color de fondo al hacer clic */
    padding: 8px 15px; /* Ajusta el tamaño del padding al hacer clic */
}

.sidebar nav ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Ajusta el margen según sea necesario */
}

/* Estilos de la barra lateral derecha */

.sidebar-right {
    position:relative;
    margin-left: 220px; /* Asegura que el contenido a la derecha esté alineado correctamente */
    padding: 30px;
}

.greeting {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.bienvenido {
    text-align: justify;
    padding-right: 5%;
    line-height: 1.6;
}

.imag-bienvenido{
    max-width: 50%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}
















































































